[Service]
WorkingDirectory=/opt/ingress-table
ExecStart=/usr/bin/node --max-old-space-size=100 ./node_modules/.bin/microflo runtime --port 5555 --graph graphs/PortalLights.fbp --componentmap build/arduino/PortalLights/main.component.map.json --serial /dev/ttyACM0 --baudrate 9600
Restart=always
User=bergie

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
